<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <block name='title'><title></title></block>
        <meta name="keywords" content="">
        <meta name="description" content="">
        <link href="__PUBLIC__/home/css/renzheng.css" rel="stylesheet">
        <link href="__PUBLIC__/home/css/demo.css" rel="stylesheet">
        
        <!-- <link href="__PUBLIC__/hplus/css/combo.select.css" rel="stylesheet"> -->
        <block name="link"></block>
        <block name="style"><style></style></block>
    </head>
    <body class="body">
    </block>
        <!-- 全局js -->

        <script src="__PUBLIC__/hplus/js/jquery-2.1.1.min.js"></script>
        <script src="__PUBLIC__/hplus/js/bootstrap.min.js?v={:C('SYSTEM_VER')}"></script>
        <script src="__PUBLIC__/hplus/js/layer/layer.min.js?v={:C('SYSTEM_VER')}"></script>
        <script src="__PUBLIC__/hplus/js/laydate/laydate.js?v={:C('SYSTEM_VER')}"></script>
        <script type="text/javascript" src="__PUBLIC__/hplus/js/H-ui.js"></script> 
        <script type="text/javascript" src="__PUBLIC__/hplus/js/icheck/icheck.min.js"></script>
        <script type="text/javascript" src="__PUBLIC__/hplus/js/jquery.blueimp-gallery.min.js"></script>
        <script type="text/javascript" charset="utf-8" src="__PUBLIC__/hplus/js/ueditor/ueditor.config.js"></script>
        <script type="text/javascript" charset="utf-8" src="__PUBLIC__/hplus/js/ueditor/ueditor.all.min.js"> </script>
        <script type="text/javascript" charset="utf-8" src="__PUBLIC__/hplus/js/ueditor/lang/zh-cn/zh-cn.js"></script>
        <script type="text/javascript" src="__PUBLIC__/hplus/js/uploadify/jquery.uploadify.min.js"></script>
        <script type="text/javascript" src="__PUBLIC__/hplus/js/boot.js?v={:C('SYSTEM_VER')}"></script>
        <script type="text/javascript" src="__PUBLIC__/hplus/js/areas.js?v={:C('SYSTEM_VER')}"></script>
        <script type="text/javascript" src="__PUBLIC__/hplus/js/formSubmit.js"></script>
        <script type="text/javascript" src="__PUBLIC__/plug/layui/layui.js"></script>
        <script src="__PUBLIC__/hplus/js/jquery.combo.select.js"></script>
        <script charset="utf-8" src="__PUBLIC__/plug/kindeditor/kindeditor-min.js"></script>
        <script charset="utf-8" src="__PUBLIC__/plug/kindeditor/lang/zh_CN.js"></script>
        <block name="script"></block>
<block name="footer">
    </body>
</html>
</block>            